* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover {
  color: #fff;
}
.container > h1 {
  text-align: center;
  padding: 25px;
  background-color: cadetblue;
  margin-bottom: 25px;
  position: relative;
}
#game {
  text-align: center;
  margin: 0 auto;
}
.bonus {
  padding: 50px;
  margin-top: 50px;
  text-align: center;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: steelblue;
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
}
.game_number {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
}
.game_number.clickable {
  cursor: pointer;
}
.game_number.clickable:hover {
  background-color: cornflowerblue;
}
